body {
  background-color: #cdd0b6;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  box-sizing: border-box;
  border: 5px solid #eaebe0;
  max-width: 100%;
}

code,
kbd,
samp {
  background-color: #eaebe0;
  border-radius: 4px;
  padding: 0 4px;
}
