body {
  background-color: #ebf5f9;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  box-sizing: border-box;
  border: 5px solid #9fbcc6;
  max-width: 100%;
}

code,
kbd,
samp {
  background-color: #cbdfe6;
  border-radius: 4px;
  padding: 0 4px;
}
